.grid-2{
  @apply grid grid-cols-1 lg:grid-cols-2
}

.grid-3{
  @apply grid grid-cols-1  md:grid-cols-2 lg:grid-cols-3
}


.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-start {
  @apply flex justify-start items-center;
}

.r-flex-1 {
  @apply flex flex-col lg:flex-row items-center gap-1;
}
.r-flex-2 {
  @apply flex flex-col lg:flex-row items-center gap-2;
}
.r-flex-3 {
  @apply flex flex-col lg:flex-row items-center gap-3;
}
.r-flex-4 {
  @apply flex flex-col lg:flex-row items-center gap-4;
}
.r-flex-5 {
  @apply flex flex-col lg:flex-row items-center gap-5;
}

.flex-1 {
  @apply flex items-center gap-1;
}
.flex-2 {
  @apply flex items-center gap-2;
}
.flex-3 {
  @apply flex items-center gap-3;
}
.flex-4 {
  @apply flex items-center gap-4;
}
.flex-5 {
  @apply flex items-center gap-5;
}

.flex-col-1 {
  @apply flex flex-col gap-1;
}
.flex-col-2 {
  @apply flex flex-col gap-2;
}
.flex-col-3 {
  @apply flex flex-col gap-3;
}
.flex-col-4 {
  @apply flex flex-col gap-4;
}
.flex-col-5 {
  @apply flex flex-col gap-5;
}
.flex-col-10{
  @apply flex flex-col gap-10;
}

.flex-col-20 {
  @apply flex flex-col gap-20;
}

.flex-col-56 {
  @apply flex flex-col gap-56;
}

.shadcn-icon-button{
  @apply w-full lg:w-max gap-2 disabled:cursor-not-allowed
}

.max-w-wrapper {
  @apply max-w-7xl mx-auto px-5 relative;
}

.max-w-wrapper-lg {
  @apply max-w-[105rem] mx-auto px-5 relative;
}

.input{
  @apply ring-1 ring-neutral-300 dark:ring-neutral-800 bg-neutral-100 dark:bg-neutral-900 outline-none p-2 text-stone-400 text-sm placeholder:text-stone-400 placeholder:text-sm rounded-md box-border 
}

.input-container{
  @apply relative
}

.input-container input{
  @apply text-base text-stone-400 border-b bg-transparent border-neutral-300 transition-all dark:border-neutral-800 outline-none w-full p-4
}

.input-container input:focus,
.input-container input:valid{
  @apply border border-neutral-300 dark:border-neutral-800 rounded-sm transition-all
}

.input-container label{
  @apply top-[29%] left-[5%] absolute text-stone-400 transition-all
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
  transition: 0.4s;
  transform: translateY(-25px);
}

.linier-gradient-top-bottom{
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}

.side{
  @apply absolute fixed p-2 top-0 min-h-screen z-[100000] transition-all left-[-300px] w-[250px] bg-neutral-200 dark:bg-neutral-900 border-r border-neutral-300 dark:border-neutral-800
}

.side.active{
  left: 0;
}
.text-underline{
  position: relative;
}
.text-underline::after{
  content: '';
  background: var(--mainColor);
  height: 1px;
  width: max-content;
  display: block;
  margin: auto;
  position: absolute;
}

.gradient-text {
  font-size: 48px;
  font-weight: bold;
  /* background: linear-gradient(90deg, #8a2be2, #ff69b4, #ff7e00);   */
  background: linear-gradient(90deg, #008080, #00bfae, #80e0a5);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.Toastify__toast {
  @apply dark:bg-neutral-900 bg-neutral-300

}
.Toastify__toast-body {
  @apply text-stone-400 text-sm dark:bg-neutral-900
}
